.body--index {
    background-image: url(/imgs/Default_Create_a_image_of_Bolvar_fordragon_as_the_Lich_king_fr_0\ \(1\).jpg);
    background-attachment: fixed;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
}
.body--gallery {
    background-image: url(/imgs/BACKGROUND-GALLERY.JPG);
    background-attachment: fixed;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
}
.body--tbc {
    background-image: url(/imgs/TBC-BACKGROUND.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
}
.body--wotlk {
    background-image: url(/imgs/WOTLK-BACKGROUND.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
}
.body--cata {
    background-image: url(/imgs/CATA-BACKGROUND.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
}
.body--mop {
    background-image: url(/imgs/MOP-BACKGROUND.webp);
    background-attachment: fixed;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
}
.body--wod{
    background-image: url(/imgs/WOD-BACKGROUND.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
}
.body--legion {
    background-image: url(/imgs/LEGION-BACKGROUND.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
}
.body--bfa {
    background-image: url(/imgs/BFA-BACKGROUND.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
    
}
.body--shadowlands {
    background-image: url(/imgs/SHADOWLANDS-BACKGROUND.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
}
.body--dragonflight {
    background-image: url(/imgs/DRAGONFLIGHT-BACKGROUND.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
}


