@media (max-width: 768px) {
    body {
        background-size: 100% auto;
        padding: 50px;
    }
}
 
@media (max-width: 768px) {
    body {
        background-size: 100% auto; 
        padding: 50px;
    }
}

header {
    display: flex;
    padding: 10px;
    align-items: right;
    margin: 0.5em;
    color: #fff;
}

.body--index {
    background-image: url(/imgs/Default_Create_a_image_of_Bolvar_fordragon_as_the_Lich_king_fr_0\ \(1\).jpg);
    background-attachment: fixed;
    background-size:cover;
    background-position: center right;
    background-repeat: no-repeat;
    height: auto;
}
.body--gallery {
    background-image: url(/imgs/BACKGROUND-GALLERY.JPG);
    background-attachment: fixed;
    background-size:cover;
    background-position: center right;
    background-repeat: no-repeat;
    height: auto;
}
.body--tbc {
    background-image: url(/imgs/TBC-BACKGROUND.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-position: center right;
    background-repeat: no-repeat;
    height: auto;
}
.body--wotlk {
    background-image: url(/imgs/WOTLK-BACKGROUND.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-position: center right;
    background-repeat: no-repeat;
    height: auto;
}
.body--cata {
    background-image: url(/imgs/CATA-BACKGROUND.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-position: center right;
    background-repeat: no-repeat;
    height: auto;
}
.body--mop {
    background-image: url(/imgs/MOP-BACKGROUND.webp);
    background-attachment: fixed;
    background-size:cover;
    background-position: center right;
    background-repeat: no-repeat;
    height: auto;
}
.body--wod{
    background-image: url(/imgs/WOD-BACKGROUND.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-position: center right;
    background-repeat: no-repeat;
    height: auto;
}
.body--legion {
    background-image: url(/imgs/LEGION-BACKGROUND.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-position: center right;
    background-repeat: no-repeat;
    height: auto;
}
.body--bfa {
    background-image: url(/imgs/BFA-BACKGROUND.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-position: center right;
    background-repeat: no-repeat;
    height: auto;
}
.body--shadowlands {
    background-image: url(/imgs/SHADOWLANDS-BACKGROUND.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-position: center right;
    background-repeat: no-repeat;
    height: auto;
}
.body--dragonflight {
    background-image: url(/imgs/DRAGONFLIGHT-BACKGROUND.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-position: center right;
    background-repeat: no-repeat;
    height: auto;
}
footer {
    max-width: 410px;
    margin: 0 auto;
    padding: 20px;
    background-color: #081D31;
    border-radius: 8px;
    text-align: center;
    background-color: black;
    color: #fff;
    padding: 15px;
    text-align: left;
}
 
.logo {
    text-align: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
   
   
   
   
}
 

.card{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    
    opacity: 80%;
}
.card--blue{
    color:#DE4A1C;
    background-color: #081D31;
}

.logo img {
    width: 300px;
    height: auto;
}
/*MENU*/
nav {
    position: relative;
}
 
nav ul {
    list-style-type: none;
    width: 250px;
    height: 50px;
    background-color: #081D31;
    margin: 5;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 90%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: absolute;
    z-index: 1;
 
}
 
nav ul li {
    margin-right: 20px;
}
 
nav ul li:last-child {
    margin-right: 0;
}
 
nav ul li a {
    
    color:#DE4A1C;
    text-decoration: none;
    transition: color 0.3s;
}
 
nav ul li a:hover {
    color: #ccc;
}
 
 
.dropdown {
    position: relative;
}
 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
    right: 50%;
   
   
   
}
 
 
 
.dropdown:hover .dropdown-content {
    display: block;
}
 
.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
 
.dropdown-content a:hover {
    background-color: #555;
}
 
 
.menu-toggle {
    display: none;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
}
 
 
@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
    }
 
    nav ul.active {
        display: flex;
    }
 
    .menu-toggle {
        display: block;
    }
}
 
 
@media (max-width: 768px){
    .dropdown-content{
        display: block;
    }
}
/*MENU - KONEC*/ 

/*gallery*/

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    gap: 15px;
}

.gallery__item {
    position: relative;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.gallery__img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.card--gallery{
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
@media only screen and (max-width: 480px) {
    .card--gallery {
        justify-content: center; /* Center horizontally on small screens */
    }
}

.responsive-iframe {
    width: 100vw;
    height: 56.25vw; /* Approximate 16:9 aspect ratio */
}

/*TBC*/
.card--tbc{
    background-color: #7BC74D;
    
}
.dropdown-content--tbc a{
    background-color: #7BC74D;
    color:black;
    
}
.dropdown--tbc a{
    background-color: #7BC74D;
    color:black;

    
}

.menu--tbc{
    background-color: #7BC74D;
    color:black;
    
}
/*TBC*/

/*WOTLK*/
.card--wotlk{
    background-color: #006494;
    color:#000814;
}
.dropdown-content--wotlk a{
    background-color: #006494;
    color:#000814;
    
}
.dropdown--wotlk a{
    background-color: #006494;
    color:#000814;

    
}

.menu--wotlk{
    background-color: #006494;
    color:#000814;
    
}

/*CATA*/
.card--cata{
    background-color: #6a040f;
    color:#03071e;
}
.dropdown-content--cata a{
    background-color: #6a040f;
    color:#03071e;
    
}
.dropdown--cata a{
    background-color: #6a040f;
    color:#03071e;

    
}

.menu--cata{
    background-color: #6a040f;
    color:#03071e;
    
}
/*CATA*/

/*MOP*/
.card--mop{
    background-color: #ecf39e;
    color: #386641;
    
}
.dropdown-content--mop a{
    background-color: #ecf39e;
    color: #386641;
    
}
.dropdown--mop a{
    background-color: #ecf39e;
    color: #386641;

    
}

.menu--mop{
    background-color: #ecf39e;
    color: #386641;
    
}
/*MOP*/


/*WOD*/

.card--wod{
    background-color: #800e13;
    color: #250902;
    opacity: 90%;
    
}
.dropdown-content--wod a{
    background-color: #800e13;
    color: #250902;
    
}
.dropdown--wod a{
    background-color: #800e13;
    color: #250902;

    
}

.menu--wod{
    background-color: #800e13;
    color: #250902;
    
}

/*WOD*/

/*LEGION*/
.card--legion{
    background-color: green;
    color:black;
    
}
.dropdown-content--legion a{
    background-color: green;
    color:black;
    
}
.dropdown--legion a{
    background-color: green;
    color:black;

    
}

.menu--legion{
    background-color: green;
    color:black;
    
}
/*LEGION*/

/*BFA*/
.card--bfa{
    background-color: #1a1423;
    color:#ab8476;
    opacity: 90%;
    
}
.dropdown-content--bfa a{
    background-color: #1a1423;
    color:#ab8476;
}
.dropdown--bfa a{
    background-color: #1a1423;
    color:#ab8476;

    
}

.menu--bfa{
    background-color: #1a1423;
    color:#ab8476;
    
}
/*BFA*/

/*Shadowlands*/
.card--shadowlands{
    background-color: #001D3D;
    color:#006494;
    opacity: 90%;
    
}
.dropdown-content--shadowlands a{
    background-color: #001D3D;
    color:#006494;
}
.dropdown--shadowlands a{
    background-color: #001D3D;
    color:#006494;

    
}

.menu--shadowlands{
    background-color: #001D3D;
    color:#006494;
    
}
/*Shadowlands*/

/*Dragonflight*/
.card--dragonflight{
    background-color: #370617;
    color:#e85d04;
    
    
}
.dropdown-content--dragonflight a{
    background-color: #370617;
    color:#e85d04;
}
.dropdown--dragonflight a{
    background-color: #370617;
    color:#e85d04;

    
}

.menu--dragonflight{
    background-color: #370617;
    color:#e85d04;
    
}
/*Dragonflight*/



.container {
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.form-group {
    margin-bottom: 20px;
    
}
.form-group label {
    display: block;
    font-weight: bold;
    
    
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.form-group button {
    max-width: 350px;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
}





@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?prck6v');
    src:  url('../fonts/icomoon.eot?prck6v#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?prck6v') format('truetype'),
      url('../fonts/icomoon.woff?prck6v') format('woff'),
      url('../fonts/icomoon.svg?prck6v#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-home:before {
    content: "\e900";
  }
  .icon-cart:before {
    content: "\e93a";
  }
  .icon-trophy:before {
    content: "\e99e";
  }


.iframe--video {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; 
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}